#imagePlacement{
    background-image: url("/images/wp7881177.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    /* filter: grayscale(); */
}

#signinButton{
 transition:  all .2s ease-in-out;
}

#signinButton:hover{
    background-color: aqua;
    border: aqua;
}